<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Retrieve lost gold</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<body>

    <header id="titles" class="show title">
        <h1 id="title1">Retrieve lost gold</h1>
        <h2 id="title2">Click to start</h2>
    </header>

    <div class="page-contaner">
        <div class="page-content">
            <div class="sub-1">
                <div class="highscore-cont">
                    <div>
                        <h3>Highscore:</h3>
                        <table id="tbl">
                            <thead>
                            <tr>
                                <td>Navn:</td>
                                <td>Score:</td>
                            </tr>
                            </thead>

                            <tbody id="tBdy">

                            </tbody>
                        </table>
                    </div>
                </div>

                <form class="form-submit">
                    <input id="nickInp" type="text" placeholder="Nickname" min="1" max="12" required>
                    <button id="regBtn" type="submit">Submit</button>
                </form>
            </div>


            <div class="sub-2">
                <div id="map" class="map" oncontextmenu="exitGame()">
                    <svg id="papir">
                        <g id="gMap">

                        </g>
                    </svg>
                </div>

                <div class="status-panel">
                    <div class="status-info">
                        <span>Coins: <span id="antCoins">0</span></span>
                        <span>Lives: <span id="antLives">3</span></span>
                    </div>

                    <div class="btn-menu">
                        <button id="musicBtn" onclick="changeMusic(this)">Music: ON</button>
                        <button id="sfxBtn" onclick="changeSFX(this)">SFX: ON</button>
                    </div>
                </div>
            </div>

            <div>
                <section>

                    <div>
                        <h3>Instrukser:</h3>
                        <p>Bruk musa til å berøre mynten, men unngå de grå rutene!</p>
                        <p>Powerups vil spawne over tid.</p>
                        <p>Se om du klarer å skaffe alle 100!</p>
                    </div>

                    <div class="box-info-cont">
                        <div>
                            <span>Øker radiusen til mynten</span>
                            <span class="blue box"></span>
                        </div>
                        <div>
                            <span>Trekker fra 7 mynter</span>
                            <span class="red box"></span>
                        </div>

                        <div>
                            <span>Gir deg 5 mynter</span>
                            <span class="orange box"></span>
                        </div>
                        <div>
                            <span>De neste firkantene blir mindre</span>
                            <span class="green box"></span>
                        </div>
                        <div>
                            <span>Flytter mynten til tilfeldig posisjon</span>
                            <span class="pink box"></span>
                        </div>

                        <div>
                            <span class="version">Version 3.7</span>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

<script src="../static/js/main.js">

</script>
</body>
</html>