<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Retrieve lost gold</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<body>

    <header id="titles" class="show title">
        <h1 id="title1">Retrieve lost gold</h1>
        <h2 id="title2">Click to start</h2>
    </header>

    <div class="page-contaner">
        <div class="page-content">
            <div>
                <div class="highscore-cont">
                    <div>
                        <h3>Highscore:</h3>
                        <table id="tbl">
                            <thead>
                            <tr>
                                <td>Name:</td>
                                <td>Score:</td>
                            </tr>
                            </thead>

                            <tbody id="tBdy">

                            </tbody>
                        </table>
                    </div>
                </div>

                <form class="form-submit">
                    <input id="nickInp" type="text" placeholder="Nickname" min="1" max="12" required>
                    <button id="regBtn" type="submit">Submit</button>
                </form>
            </div>


            <div>
                <div id="map" class="map" oncontextmenu="exitGame()">
                    <div>
                        <span id="powerUpFeedBackSpn"></span>
                    </div>
                    <svg id="papir">
                        <g id="gMap">

                        </g>
                    </svg>
                </div>

                <div class="status-panel">
                    <div class="status-info">
                        <span>Coins: <span id="antCoins">0</span></span>
                        <span>Lives: <span id="antLives">0</span></span>
                        <div>
                            <span id="spnGamemode" class="spn-gm"></span>
                        </div>
                        <div class="arrow-cont">
                            <button class="btn small" onclick="prevGamemode()"><</button>
                            <button class="btn small" onclick="nextGamemode()">></button>
                        </div>
                    </div>


                    <div class="btn-menu">
                        <button id="musicBtn" class="btn" onclick="toggleMusic(this)">Music: ON</button>
                        <button id="sfxBtn" class="btn" onclick="toggleSFX(this)">SFX: ON</button>
                    </div>
                </div>
            </div>

            <div>
                <section>

                    <div>
                        <h3>Instructions:</h3>
                        <p>Use the mouse to touch the coin, but avoid the grey squares!</p>
                        <p>Powerups will spawn over time.</p>
                        <p>Try to collect 100 coins!</p>
                    </div>

                    <div class="box-info-cont">
                        <div>
                            <span>Increases the coin's radius.</span>
                            <span class="blue box"></span>
                        </div>
                        <div>
                            <span>You lose 7 coins.</span>
                            <span class="red box"></span>
                        </div>

                        <div>
                            <span>You gain 5 coins.</span>
                            <span class="orange box"></span>
                        </div>
                        <div>
                            <span>Reduces the future grey squares' size.</span>
                            <span class="green box"></span>
                        </div>
                        <div>
                            <span>Moves the coin to a random position.</span>
                            <span class="pink box"></span>
                        </div>
                        <div>
                            <span>Choose a random powerup effect.</span>
                            <span class="white box"></span>
                        </div>

                        <div>
                            <span class="version">Version 1.5.3</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<script src="../static/js/main.js">

</script>
</body>
</html>